.keypad {
  background-color: #fff;
  padding: 10px;
  display: flex;
  max-width: 270px;
  border-radius: 5px;
}

.keypad p {
  line-height: 1.875rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  user-select: none;
  cursor: pointer;
  color: black;
  padding: 15px;
}

.keypad_keys p:active {
  background-color: rgba(0, 0, 0, 0.14);
}

.keypad_keys {
  display: flex;
  flex-wrap: wrap;
}

.keypad_keys p {
  width: 25%;
  height: 20%;
}

.keypad_keys p {
  width: 25%;
  height: 20%;
}

.wide {
  width: 50% !important;
  text-align: start;
}
